@import "../../../themes/ddbasic/sass/_base.scss";

.step-back {
  display: block;
  clear: both;
  margin: 10px 0;
  color: $color-primary;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: $color-text-link;
  }
}
